
# /
/.idea
*.iml
**/*.iml
TransportsMetz/gen
**/.idea
**/.checkstyle
**/.pmd
**/.fbprefs
**/.settings/*findbugs*
**/bin
target

**/.DS_Store
.DS_Store
TransportsMetz.ipr
TransportsMetz.iws

out
**/*.apk